<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-avatar item-start>
    <img style="display: block;
                margin: 0 auto;
                margin-bottom:5%;"
                src="https://s3.amazonaws.com/wwww.weddingassist.me/1791e95d-5b22-421b-8312-b47f9f0e0f62.jpg">
  </ion-avatar>

    <ion-list *ngIf="userType == 0">
        <ion-item>
            <ion-label floating>Nome do Noivo(a)</ion-label>
            <ion-input [(ngModel)]="fiance.name" type="text" [disabled]="isEditingEnable()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Apelido do Casal</ion-label>
            <ion-input  [(ngModel)]="fiance.nickname" type="text" [disabled]="isEditingEnable()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input  [(ngModel)]="fiance.phone" type="phone" [disabled]="isEditingEnable()"></ion-input>
        </ion-item>

        <ion-item *ngIf="editingEnable">
            <button ion-button block outline large (click)="enableEdit()">Editar</button>
        </ion-item>

        <ion-item *ngIf="!editingEnable">
            <button ion-button block outline large (click)="updateFiance()">Salvar</button>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="userType == 1">
        <ion-item>
            <ion-label floating>Nome do Fornecedor</ion-label>
            <ion-input [(ngModel)]="provider.providerName" type="text" [disabled]="isEditingEnable()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input  [(ngModel)]="provider.phone" type="text" [disabled]="isEditingEnable()"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Serviços Oferecidos</ion-label>
            <ion-select [(ngModel)]="provider.services" multiple="true" [disabled]="isEditingEnable()">
                <ion-option value="1">Fotógrafo</ion-option>
                <ion-option value="2">Buffet</ion-option>
                <ion-option value="3">Locação de Espaço</ion-option>
                <ion-option value="4">Decoração</ion-option>
            </ion-select>
        </ion-item>

        <ion-item *ngIf="editingEnable">
            <button ion-button block outline large (click)="enableEdit()">Editar</button>
        </ion-item>


        <ion-item *ngIf="!editingEnable">
            <button ion-button block outline large (click)="updateProvider()">Salvar</button>
        </ion-item>
    </ion-list>


</ion-content>