<ion-header>
  <ion-navbar>
    <ion-title>
      Orçamento
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div *ngFor="let service of pageBudget.services; trackBy index;">
    <ion-item-group>
      <ion-item-divider color="light">{{service.serviceName}}
        <button ion-button item-end (click)="service.selected()">
            {{service.selectedText()}}
            <ion-icon name="{{service.selectedIcon()}}"></ion-icon>
          </button>
      </ion-item-divider>
      <div *ngIf="service.isSelected">
        <button ion-item *ngFor="let category of service.categories; trackBy index;" (click)="addItems(category, service)">
          {{category.categoryName}}
          <ion-icon name="{{category.categoryIcon}}" item-start color="primary"></ion-icon>
          <ion-icon name ="{{category.GetRightIcon()}}" item-end></ion-icon>
          {{category.hasSelectedItems()}}
        </button>
        <ion-item style="padding-left: 20%;">
          teste
        </ion-item>
      </div>
    </ion-item-group>
  </div>

  <ion-list>
    <ion-item>
      <button ion-button block outline large (click)="nextStep()">Próximo Passo</button>
    </ion-item>
  </ion-list>
</ion-content>