<ion-header>
  <ion-navbar>
    <ion-title>
      Busca de <label *ngIf="type == 1">Noivos</label>
               <label *ngIf="type == 2">Fornecedores</label>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item *ngFor='let item of itens; trackBy: index;'>
        <ion-icon name="contacts" item-left large ></ion-icon>
        <h1>{{item.name}}</h1>
        <h2>{{item.nickname}}</h2>
        <p>Sexo: <label *ngIf="item.gender == 2">Masculino</label>
                 <label *ngIf="item.gender == 1">Feminino</label></p>
    </ion-item>

</ion-content>
