<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Novo Usuário
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-toolbar>
        <ion-segment [(ngModel)]="userType" color="primary">
            <ion-segment-button value="fiance" checked>
                Noivo
            </ion-segment-button>
            <ion-segment-button value="provider">
                Fornecedor
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <!--nickname: string;
    email: string;
    phone: string;
    name: string;
    birth: string;
    gender: string;-->

    <div *ngIf="userType == 'fiance'">

        <ion-list>
            <ion-item>
                <ion-label floating>Nome do Noivo(a)</ion-label>
                <ion-input [(ngModel)]="fiance.name" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Apelido do Casal</ion-label>
                <ion-input [(ngModel)]="fiance.nickname" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Data de Nascimento</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="fiance.birth"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label floating>Telefone</ion-label>
                <ion-input [(ngModel)]="fiance.phone" type="phone"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Sexo</ion-label>
                <ion-select [(ngModel)]="fiance.gender">
                    <ion-option value="female">Feminino</ion-option>
                    <ion-option value="male">Masculino</ion-option>
                </ion-select>
            </ion-item>


        </ion-list>
    </div>
    <div *ngIf="userType == 'provider'">
        <ion-item>
            <ion-label floating>Nome da Empresa</ion-label>
            <ion-input [(ngModel)]="provider.providerName" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Telefone</ion-label>
            <ion-input [(ngModel)]="provider.phone" type="phone"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Serviços Oferecidos</ion-label>
            <ion-select [(ngModel)]="provider.services" multiple="true">
                <ion-option value="PHOTOGRAPH">Fotógrafo</ion-option>
                <ion-option value="BUFFET">Buffet</ion-option>
                <ion-option value="ROOM">Locação de Espaço</ion-option>
                <ion-option value="DECORATION">Decoração</ion-option>
            </ion-select>
        </ion-item>
    </div>

    <ion-list>

        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [(ngModel)]="registrationUser.email" type="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input [(ngModel)]="registrationUser.password" type="password"></ion-input>
        </ion-item>

        <ion-item>
            <button ion-button block outline large (click)="onRegister()">Cadastrar</button>
        </ion-item>
    </ion-list>


    <ion-grid>
        <ion-row>
            <ion-col width-50>
                <button ion-button clear small (click)="navToResendCode()">Reenviar Código</button>
            </ion-col>
            <ion-col width-50>
                <button ion-button clear small (click)="navToLogin()">Login</button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>